<div>
    <div>
      <div *ngIf="!userStage">
        <app-input-form type="Username" target="{{username}}" passwordMode="false" (complete)=usernameComplete()></app-input-form>
      </div>
      <div *ngIf="userStage && !passwordStage">
        <app-input-form type="Password" target="{{password}}" passwordMode="true" (complete)=passwordComplete()></app-input-form>
      </div>
      <div *ngIf="userStage && passwordStage">
        <img class="img-responsive" src="assets/prize.jpeg" width="500">
      </div>
    </div>
</div>