<div class="card">
    <div class="card-header">
        {{type}}:
    </div>
    <div class="card-body">
        <form [formGroup]="inputForm" (ngSubmit)="onSubmit(inputForm.value)">
            <div class="input-group input-group-lg">
                <input type="{{getType()}}" class="form-control form-control-lg" placeholder="{{type}}" formControlName="inputValue">

                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">></button>
                </div>
            </div>
        </form>

        <hr>

        <div style="display: flex;">
            <div *ngFor="let letter of output">
                <h2 [ngStyle]="{ 'color': letter.colour }">
                    {{letter.letter}}
                </h2>
            </div>
        </div>
    </div>
</div>