<div class="card">
    <div class="card-header h5">
        {{type}}
    </div>
    <div class="card-body">
        <form [formGroup]="inputForm" (ngSubmit)="onSubmit(inputForm.value)">
            <div class="input-group input-group-lg">
                <input type="{{getType()}}" class="form-control form-control-lg" placeholder="{{type}}" formControlName="inputValue">

                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit"><fa-icon [icon]="faAngleRight"></fa-icon></button>
                </div>
            </div>
        </form>

        <hr>

        <div class="row">
            <div class="col-sm" style="display: flex;">
                <div *ngFor="let letter of output">
                    <h2 [ngStyle]="{ 'color': letter.colour }">
                        {{letter.letter}}
                    </h2>
                </div>
            </div>
    
            <div class="col-sm">
                <button class="btn btn-outline-primary" style="float: right;"><fa-icon [icon]="faQuestion"></fa-icon></button>
            </div>
        </div>

        
    </div>
</div>